<!-- <div class="d-lg-flex loginContainer">
  <div class="bg order-1 order-md-2">
    <div class="img-fluid bg-logo"></div>
  </div>
  <div class="contents order-2 order-md-1">
    <div class="container">
      <div class="row">
        <div class="loginCard">
          <div class="m-4">
            <img src="https://www.cidenet.com.co/wp-content/uploads/2021/04/cidenet-software-a-la-medida-medellin.png"
              class="img-fluid mb-2 loginCard-logo" alt="logo-gestech-small" />
            <div class="img-fluid loginCard-logo"></div>
            <h3>Login to <strong>Employee Portal</strong></h3>
            <p class="mb-4">
              Portal for Employees
            </p>
            <form action="#" method="post">
              <div class="form-group first mb-3">
                <input name="email" type="email" [(ngModel)]="email" placeholder="Email" required="required"
                  class="form-control" placeholder="Email" id="email" />
              </div>
              <div class="form-group last mb-3">
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required"
                  class="form-control" placeholder="Password" id="password" />
              </div>

              <div *ngIf="!InfoComplete" class="alert alert-danger">
                {{ InfoMessage }}
              </div>

              <button type="submit" class="btn btn-block mb-2" (click)="login()">
                Log In
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="d-lg-flex loginContainer">
  <div class="bg">
    <div class="img-fluid bg-logo"></div>
  </div>
  <div class="contents ">
    <div class="container">
      <div class="row">
        <div class="loginCard">
          <div class="m-4">
            <img src="assets/img/logo-cidenet.png" class="img-fluid mb-2 loginCard-logo" alt="logo-gestech-small" />
            <div class="img-fluid loginCard-logo"></div>
            <h3>Login to <strong>Employee Portal</strong></h3>

            <form action="#" method="post">
              <div class="form-group first mb-3">
                <input name="email" type="email" [(ngModel)]="email" placeholder="Email" required="required"
                  class="form-control" placeholder="Email" id="email" />
              </div>
              <div class="form-group last mb-3">
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required"
                  class="form-control" placeholder="Password" id="password" />
              </div>

              <div *ngIf="!InfoComplete" class="alert alert-danger">
                {{ InfoMessage }}
              </div>

              <button type="submit" class="btn btn-block mb-2" (click)="login()">
                Log In
              </button>

              <!-- <input type="submit" value="Log In" class="btn btn-block"> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
