<div class="container body-content">
  <h1 class="mt-5">Creación de Empleado</h1>
  <form
    action="/"
    class="align-content-center"
    enctype="multipart/form-data"
    id="form_file"
    method="post"
  >

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class=" ">Primer Apellido</label>
            <input type="text" name="surname">
      </div>

      <div class="form-group col-md-6">
        <label class=" ">Segundo Apellido</label>

        <input type="text" name="secondSurName">

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class=" ">Primer Nombre</label>

        <input type="text" name="firstName">

      </div>

      <div class="form-group col-md-6">
        <label class=" ">Secundo Nombre</label>

        <input type="text" name="middleName">

      </div>
    </div>
    <div class="form-group">
        <label class=" ">País</label>


        <select
        class="form-control"
        data-val="true"
        data-val-required="The file_sep field is required."
        id="file_sep"
        name="file_sep"
      >
        <option value=""> </option>
        <option>Colombia</option>
        <option>Estados Unidos</option>
      </select>
    </div>
    <div class="form-group">
        <label class=" ">Tipo de Identificación</label>


        <select
        class="form-control"
        data-val="true"
        data-val-required="The file_sep field is required."
        id="file_sep"
        name="file_sep"
      >
        <option value=""> </option>
        <option >Cédula de Ciudadanía</option>
        <option >Cédula de Extranjería</option>
        <option >Pasorte</option>
        <option >Permiso Especial</option>


      </select>
    </div>
    <div class="form-group">
        <label class=" ">Número de Identificación</label>
        <input type="text" name="middleName">

    </div>
    <div class="form-group">
        <label class=" ">Fecha de Ingreso</label>
        <input type="date" name="registryDate">
    

    </div>
    <div class="form-group">
        <label class=" ">Área</label>


        <select
        class="form-control"
        data-val="true"
        data-val-required="The file_sep field is required."
        id="file_sep"
        name="file_sep"
      >
        <option value=""> </option>
        <option>Administración</option>
        <option >Financiera</option>
        <option >Compras</option>
        <option >Infraestructura</option>
        <option >Operación</option>
        <option >Talento Humano</option>
        <option >Servicios Varios</option>
      </select>
    </div>
    <div class="form-group">
        <label class=" ">Fecha y Hora de Registro</label>
        <input type="date" name="registryDate">
    

    </div>
    <input
      type="submit"
      value="Iniciar Proceso"
      id="btnSend"
      class="btn btn-outline-danger btn-gt btn-block mt-3"
      onclick="location.href='/LSTWeb/Home/UploadFile'"
    />
  </form>
</div>
