
* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 7rem 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  font-size: 2rem;
}

.loginContainer {
  height: 100vh;
}

.loginContainer .contents p {
  color: #727272;
  font-weight: 1rem;
}

.loginContainer .container > .row {
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.loginContainer .contents {
  background: #ffffff;
}

.loginContainer .contents,
.loginContainer .bg {
  width: 50%;
  align-items: center;
}

.loginContainer .contents .form-control,
.loginContainer .bg .form-control {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 54px;
}

.loginContainer .loginCard {
  border-color: red;
  background-color: #24b5d4;
  align-items: center;
}

.loginContainer .bg {
  background-size: cover;
  background-position: center;
  background-image: url("assets/img/blue-cidenet.png") !important;
  display: flex;
  justify-content: center;
}

.loginContainer .bg .bg-logo::before {
  /* content: url("https://www.cidenet.com.co/wp-content/uploads/2021/04/cidenet-software-a-la-medida-medellin.png"); */
  content: url("assets/img/logo-cidenet-white.png");
}

.loginContainer a {
  color: #888;
  text-decoration: underline;
}

.loginContainer .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #24b5d4;
  color: #fff;
}

.btn {
  background-color: #24b5d4;
  color: #fff;
}

.loginCard {
  background-color: #fff !important;
  width: 80%;
}




body {
  font-family: "Roboto", sans-serif; 
}

.statusLegend{
  z-index: 0;
}

.small-tooltip{
  cursor: pointer;
}



.defaultInputFile{
display: none;
}




.acoordion-list-group .list-group-item:hover{
  background-color: #e9ecef;
}


.acoordion-list-group .list-group-item{
  border-width: 0.1rem;
  cursor: pointer;
}


.IconMyTemplates:hover{

  color: red;
}
@media (max-width: 1199.98px) {
  .loginContainer .contents,
  .loginContainer .bg {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .loginCard-logo {
    display: none;
  }
}

@media (max-width: 992px) {
  .bg {
    display: none !important;
  }

  .loginContainer .contents {
    background-size: cover;
    background-position: center;
    background-image: url("assets/img/wave-bottom1.svg") !important;
    display: flex;
    justify-content: center;
  }

  .loginCard {
    width: fit-content;
    margin: 3px;
    background-color: #fff !important;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}


